<!DOCTYPE html>
<html>
  <head>
    <title>QuizOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
        <div class="all">
          <hr>
          <br>
          <hr>
          <br>
          <hr>
            <p>QuizOne</p>
        </div>
    </div>

        <div class="col-sm-10 offset-3">
          School of Continuing Studies - University of Toronto
        </div>
        <div class="links">
          <% link_to 'Contribute', '#' %>
          Add
        </div>
    </nav>

    

    


  </header>


    <%= yield %>
  </body>


<br class="clear" />


</html>
