<!DOCTYPE html>
<html>
  <head>
    <title>QuizOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
      <a class="navbar-brand" href="#"></a>
      <%= link_to root_path, class: 'navbar-brand' %>
        <div class="all">
          <hr>
          <br>
          <hr>
          <br>
          <hr>
            <p>QuizOne</p>
        </div>
    </div>

        <div class="UofT col-5">
          School of Continuing Studies - University of Toronto
        </div>


        <!-- Button trigger modal -->

    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
      Contribute
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              
            </button>
            <h4 class="modal-title" id="myModalLabel">Share Your Funny Sign!</h4>
          </div>
          <%= simple_form_for Sign.new, url: signs_path do |f| %>
          <div class="modal-body">
             
                <%= f.input :saying %>
                <%= f.input :city %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Share!', class: 'btn btn-primary' %>
            <% link_to 'New', root_path, class: 'nav-link'%>
          </div>
         <% end %>
        </div>
      </div>
    </div>


    </nav>

    

    


  </header>


    <%= yield %>
  </body>


<br class="clear" />


</html>
